{
    "presets": ["env"],
    "plugins": [
        "syntax-async-functions",
        "syntax-class-properties",
        "syntax-trailing-function-commas",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-object-assign",
        "transform-async-to-generator"
    ]
}
